
<footer class="footer" id="footer" role="contentinfo">
    <div class="block">
        <div class="prose footer__profile">
            <div class="footer__avatar"></div>
            <h3>I’m David Bushell</h3>
            <p class="p--light"><a href="{{ site_url 'about' }}">I freelance</a> for small businesses, start-ups, individuals, and fellow web agencies.</p>
        </div>

        {{# is "contact" }}
        <hr>
        {{/ is }}
        {{^ is "contact" }}
        <a href="{{ site_url 'contact' }}" class="footer__hire">
            <img src="{{ site_url 'assets/img/dbushell-for-hire.svg' }}" alt="Available for Hire">
        </a>
        {{/ is }}

        <aside class="prose footer__blog" role="complementary">
            <h3>From the Blog&hellip;</h3>
            <ul>
            {{#each collections.latest}}
                <li>
                    <a rel="bookmark" href="{{ site_url this.path }}">{{ this.title }}</a>
                    <time datetime="{{ moment this.date "ISO" }}">{{ moment this.date "dddd" }} <strong>{{ moment this.date "D" }} <abbr title="{{ moment this.date "MMMM" }}">{{ moment this.date "MMM" }}</abbr> {{ moment this.date "YYYY" }}</strong></time>
                </li>
            {{/each}}
            </ul>
        </aside>

        <hr>

        <p class="p--small"><small>Copyright &copy; {{ moment today "YYYY" }} <a rel="author" href="{{ site_url }}">David Bushell</a></small></p>

    </div>
</footer>
<!--/.footer-->

<div class="overlay" id="overlay"></div>

{{>nav}}

<script>
(function(win){

var loaded = 0,
    onLoad = function(e) {
        if (e) win.dbushell.onLoad();
        if (++loaded >= 2) {
            win.dbushell.init();
{{# is "single" }}
            if (win.dbushell.isOldIE) return;
            win.loadScript('{{ site_url 'assets/js/vendor/prism.min.js' }}?ver=1.0', function() {
                win.Prism.highlightAll();
            });
{{/ is }}
        }
    };

if (win.addEventListener) {
    win.addEventListener('DOMContentLoaded', onLoad, false);
} else if (window.attachEvent) {
    win.attachEvent('onload', onLoad);
}

win.loadScript('{{ site_url 'assets/js/main.min.js' }}?ver={{ site_ver }}', onLoad);

}(window));
</script>
</body>
</html>
