<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="theme-color" content="#ff6680">
<!--

Copyright © David Bushell | @dbushell | http://dbushell.com

-->
<link rel="dns-prefetch" href="//p.typekit.net">
<link rel="dns-prefetch" href="//use.typekit.net">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<title>{{ page_title }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ site_url 'assets/img/favicon.ico' }}">
<link rel="apple-touch-icon" href="{{ site_url 'assets/img/apple-touch-icon.png' }}">
<link rel="canonical" href="{{ site_url path }}">
<link rel="alternate" type="application/rss+xml" title="dbushell.com RSS Feed" href="{{ site_url 'rss.xml' }}">
{{# is "single" }}
<link rel="amphtml" href="{{ site_url path }}amp/">
<link rel="alternate amphtml" type="text/html" href="{{ site_url path }}amp/">
{{/ is}}
<!--[if lt IE 9]>
<script src="{{ site_url 'assets/js/vendor/html5shiv.min.js' }}"></script>
<![endif]-->
{{# if dev }}
<link rel="stylesheet" href="{{ site_url 'assets/css/combined.css' }}?ver={{ site_ver }}">
{{ else }}
<noscript><link rel="stylesheet" href="{{ site_url 'assets/css/combined.css' }}?ver={{ site_ver }}"></noscript>
<style>
{{ inline 'assets/css/critical.css' }}
</style>
{{/ if }}
<script>
{{ inline 'assets/js/loadrunner.min.js' }}
{{# if dev }}{{ else }}
loadCSS('{{ site_url 'assets/css/style.css' }}?ver={{ site_ver }}');
{{/ if }}
</script>
</head>
<body>
