
<aside class="newsletter" role="complementary">
    <form id="newsletter" action="http://dbushell.us1.list-manage1.com/subscribe/post?u=f1621b8d47b205bc9a898c68f&amp;id=84a4c62ca9" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <hr>
        <h4>Side Projects Newsletter</h4>
        <p class="p--small">Every now and then I release something cool, be the first to know!</p>
        <div class="form form--single newsletter__form">
        <ul class="form__list">
            <li class="form__item">
                <label for="mce-EMAIL">Email Address</label>
                <input type="email" value="" name="EMAIL" class="field" id="mce-EMAIL" placeholder="me@example.com&hellip;">
            </li>
            <li class="form__item">
                <div style="visibility: hidden; display: none; position: absolute;" aria-hidden="true">
                    <input type="text" name="b_f1621b8d47b205bc9a898c68f_84a4c62ca9" value="">
                </div>
                <input class="button" type="submit" value="Subscribe" name="subscribe">
            </li>
        </ul>
        </div>
        <div class="newsletter__format">
            <label class="label">Email Format:</label>
            <label for="mce-EMAILTYPE-0" class="label label--checkbox"><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" checked> <span>HTML</span></label>
            <label for="mce-EMAILTYPE-1" class="label label--checkbox"><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"> <span>Text</span></label>
        </div>
    </form>
</aside>
