<script>
var href = window.location.href;
var form = document.getElementById('contact-form');
var para = document.createElement('p');
if (href.indexOf('?success=true') !== -1) {
  para.innerHTML = '<hr><strong>Thank you for your enquiry, I’ll reply as soon as possible.</strong>';
  form.style.cssText = 'display: none;';
}
if (href.indexOf('?error=true') !== -1) {
  para.className = 'p--error';
  para.innerHTML = '<strong>There was an error submitting your enquiry, please email <a href="mailto:hi@dbushell.com">hi@dbushell.com</a></strong>';
}
if (href.indexOf('?error=empty') !== -1) {
  para.className = 'p--error';
  para.innerHTML = '<strong>Please enter your name, email address, and enquiry.</strong>';
}
if (href.indexOf('?error=email') !== -1) {
  para.className = 'p--error';
  para.innerHTML = '<strong>Please enter a valid email address.</strong>';
}
if (para.innerHTML.length > 0) {
  form.parentNode.insertBefore(para, form);
}
</script>
