<script>
(function (win) {
  var loaded = 0;
  var onLoad = function (e) {
    if (e) {
      setTimeout(function () {
        document.documentElement.className += ' js-anim';
      }, 300);
    }
    if (++loaded >= 2) {
      win.dbushell.init();
    }
  };
  if (win.addEventListener) {
    win.addEventListener('DOMContentLoaded', onLoad, false);
  } else if (window.attachEvent) {
    win.attachEvent('onload', onLoad);
  }
  win.loadScript('/assets/js/main.js?ver={{ siteVer }}', onLoad);
}(window));
</script>
</body>
</html>
