<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="theme-color" content="#ff6680">
<!--

Copyright © David Bushell | @dbushell | http://dbushell.com

-->
<link rel="dns-prefetch" href="//p.typekit.net">
<link rel="dns-prefetch" href="//use.typekit.net">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<title>{{ pageTitle }}</title>
<link rel="shortcut icon" type="image/x-icon" href="{{ siteURL 'assets/img/favicon.ico' }}">
<link rel="apple-touch-icon" href="{{ siteURL 'assets/img/apple-touch-icon.png' }}">
<link rel="canonical" href="{{ siteURL pagePath }}">
<link rel="alternate" type="application/rss+xml" title="dbushell.com RSS Feed" href="{{ siteURL 'rss.xml' }}">
<!--[if lt IE 9]>
<script src="{{ siteURL 'assets/js/vendor/html5shiv.min.js' }}"></script>
<![endif]-->
<style>
{{ inlineAsset 'assets/css/combined.css' }}
</style>
<script>
{{ inlineAsset 'assets/js/loadrunner.min.js' }}
</script>
</head>
<body>
