
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: $colour__bg;
    min-width: em(300);
    padding: 0;
    margin: 0;
    color: $colour__text;
    font-family: $fonts--serif;
    overflow-y: scroll;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}

// http://msdn.microsoft.com/en-gb/library/ie/jj583807(v=vs.85).aspx
canvas {
    -ms-touch-action: double-tap-zoom;
}

svg:not(:root) {
    overflow: hidden;
}

.no-svg svg {
    @include hidden;
}

.hidden {
    @include hidden;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: $colour__canvas;
}

::-webkit-scrollbar-thumb {
    background: $colour__hairline--dark;
}

// .js--grid .main { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAcCAYAAABGdB6IAAAAE0lEQVR4AWMYNmAU/GdgMEPCDAAvZgSfS9S3ewAAAABJRU5ErkJggg=='); }
// .grid { display: none; pointer-events: none; position: absolute; /*position: fixed;*/ top: 0; left: 7%; right: 7%; margin: 0 auto; max-width: calc(#{em($block--max-width)} - 14%); }
// .js--grid .grid { z-index: 99999; display: block; bottom: 0; }
// // @media screen and (max-width: 39.9375em) { .grid { left: 1.75em; right: 1.75em; } }
// .grid__s { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
// .grid__c { position: absolute; top: 0; left: 0; bottom: 0; background: rgba(255, 255, 0, 0.2); width: 14.2361111111%; }
// .grid__s--6 .grid__c--2 { left: 17.1527777778%; }
// .grid__s--6 .grid__c--3 { left: 34.3055555556%; }
// .grid__s--6 .grid__c--4 { left: 51.4583333333%; }
// .grid__s--6 .grid__c--5 { left: 68.6111111111%; }
// .grid__s--6 .grid__c--6 { left: 85.7638888889%; }
// .grid__s--9 .grid__c { width: 8.5185185185%; background: none; border-left: 1px dashed #e54545; border-right: 1px dashed #e54545; }
// .grid__s--9 .grid__c--2 { left: 11.4351851852%; }
// .grid__s--9 .grid__c--3 { left: 22.8703703704%; }
// .grid__s--9 .grid__c--4 { left: 34.3055555556%; }
// .grid__s--9 .grid__c--5 { left: 45.7407407407%; }
// .grid__s--9 .grid__c--6 { left: 57.1759259259%; }
// .grid__s--9 .grid__c--7 { left: 68.6111111111%; }
// .grid__s--9 .grid__c--8 { left: 80.0462962963%; }
// .grid__s--9 .grid__c--9 { left: 91.4814814815%; }
// @include respond-min($breakpoint--aside)
// {
//     .grid { right: calc(7% + #{em($footer--width)}); }
// }

.main {
    z-index: $z-index--main;
    position: relative;
    padding: em($unit * 11) 0;

    @include respond-min($breakpoint--aside)
    {
        padding-top: em($unit--baseline * 3);
        margin-right: em($footer--width);
    }
}

.main__title {
    margin-bottom: em($unit * 5, $unit--h1);
}

.main--home {
    padding-bottom: em($unit--baseline * 2);
}

.main--blog {
    .main__title {
        margin-bottom: em($unit * 4, $unit--h1);
    }
}

.main--portfolio {
    padding-bottom: em($unit--baseline);
}

.block {
    margin: 0 auto;
    padding: 0 7%;
    max-width: em($block--max-width);
    box-sizing: border-box;

    .lt-ie9 & {
        min-width: em(600);
        max-width: em(900);
    }
}
