
@include critical {

    .footer {
        position: relative;
        box-sizing: border-box;
        background: $white;
        text-align: center;

        .block {
            padding-top: em($unit--baseline);
            padding-bottom: em($unit--baseline);
        }

        @include respond-min($breakpoint--aside)
        {
            z-index: $z-index--footer;
            position: absolute;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            width: em($footer--width);
            background: $white;

            .block {
                padding: em($unit--baseline) em($unit--gutter);
            }
        }
    }

    .footer__hire {
        display: block;
        overflow: hidden;
        border-radius: em(10);
        margin: em($unit--baseline) 0;

        img {
            width: 100%;
        }
    }

    .footer__blog {

        ul {
            list-style: none;
            margin-left: 0;
        }

        // time {
        //     display: block;
        // }
    }

} // critical

@include non-critical {

    .footer {
        padding-top: em($unit);
        box-shadow: 0 0 em($unit * 2) rgba(0,0,0, 0.1);

        // .prose {
        //     a:not([class]) {
        //         text-shadow: 2px 0 0 $white, -2px 0 0 $white !important;
        //     }
        // }

        h3 {
            margin-top: em(-$unit, $h3);
        }

        hr {
            opacity: 0.7;
        }

        .iScrollVerticalScrollbar {
            top: 2px !important;
            right: 0 !important;
            bottom: 0 !important;
            width: 14px !important;
            background: $white !important;

            .iScrollIndicator {
                background: rgba($colour__hairline, 0.7) !important;
                border: 3px solid $white !important;
                border-radius: 10px !important;

                &:hover {
                    background: $colour__hairline !important;
                }
            }

            &[style*="opacity: 0"] {
                opacity: 1 !important;

                .iScrollIndicator {
                    background: rgba($colour__hairline, 0.3) !important;

                    &:hover {
                        background: $colour__hairline !important;
                    }
                }
            }
        }

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-track {
            background: $white;
        }

        &::-webkit-scrollbar-track-piece {
        }

        &:hover::-webkit-scrollbar-thumb {
            background: rgba($colour__hairline, 0.7);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($colour__hairline, 0.3);
            border: 3px solid $white;
            border-radius: 10px;

            &:hover {
                background: $colour__hairline;
            }
        }

        @media only print { @include hidden; }
    }

    .footer__profile {
        max-width: em(560);

        .lt-ie9 & {
            max-width: none;
            margin: 0 auto;
        }
    }

    .footer__avatar {
        position: relative;
        margin: em(-$unit) auto em($unit * 3) auto;
        width: em($unit * 18);
        height: em($unit * 18);

        &:after {
            position: absolute;
            overflow: hidden;
            display: block;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background: url("../img/me.jpg") 0 0 no-repeat;
            background-size: 100% 100%;
        }

        .lt-ie8 & {
            background: url("../img/me.jpg") center 0 no-repeat;
        }

        @include respond-min($breakpoint--aside)
        {
            margin-top: em(-$unit * 2);
        }
    }

    .footer__blog {

        li {
            // line-height: em($unit * 3, $p);
            margin-bottom: em($unit * 2, $p);
        }

        // time {
        //     font-size: em($p--small, $p);
        //     line-height: em($unit * 3, $p--small);
        //     height: em($unit * 3, $p--small);
        // }
    }

    @include respond-min($breakpoint--aside)
    {
        .footer__blog {
            li {
                &:nth-of-type(1n + 4) {
                    @include visually-hidden;
                }
            }
        }
    }

    @include respond-max($breakpoint--mobile - 1)
    {
        .footer__avatar {
            width: em($unit * 16);
            height: em($unit * 16);
        }
    }

    @include respond-max($breakpoint--mini - 1)
    {
        .footer__avatar {
            width: em($unit * 15);
            height: em($unit * 15);
        }
    }

    @include respond-min-max($breakpoint--mobile, $breakpoint--aside - 1)
    {
        .footer {
            text-align: left;

            .block > p {
                max-width: em(500, $p);
            }
        }

        .footer__blog {

            ul {
                column-count: 2;
                column-gap: em($unit--gutter);
            }

            li {
                break-inside: avoid;
            }
        }

        .footer__avatar {
            float: left;
            margin-right: em($unit--gutter / 2);
            margin-bottom: em($unit--baseline - $unit);

            width: em($unit * 17);
            height: em($unit * 17);
        }
    }

} // non-critical
