.field, .button {
  appearance: none;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: em(18);
  line-height: em($unit * 3, 18);
  font-family: $fonts--sans;
}

.field {
  display: block;
  clear: both;
  height: em($unit * 6, 18);
  padding: em($unit, 18) em($unit * 2, 18);
  color: $grey;
  background: $white;
  border: em(2, 18) solid $blue;
  border-radius: 5px;
  box-shadow: 0 0 0 2px $beige,
              2px 2px 0 2px $green;
  margin-bottom: em($unit * 3, 18);
  width: 100%;
  max-width: em(400, 18);

  transition: border 150ms ease, box-shadow 150ms ease;

  &:focus,
  &:hover {
    color: $black;
    border-color: $green;

        box-shadow: 0 0 0 2px $beige,
                0 0 0 4px $blue;
  }
}

textarea.field {
  height: auto;
  max-width: none;
  min-height: em(($baseline*3) + $unit, 18);
}

.button {
  display: inline-block;
  height: em(49, 18);
  line-height: em(31, 18);
  padding: em($unit, 18) em(35, 18);
  text-align: center;
  color: $yellow;
  background: $blue;
  font-weight: bold;
  border-radius: em(5, 18);
  border-bottom: 4px solid $dark-blue;
  box-shadow: 0 0 0 2px $beige,
              2px 2px 0 2px $green;
  // margin-bottom: em($unit * 3, 18);
  text-shadow: 1px 1px rgba($dark-blue, 0.8);
  transition: box-shadow 150ms ease;

  &:focus, &:hover {
    color: $white;
    box-shadow: 0 0 0 2px $beige,
                0 0 0 4px $blue;
  }

  p & {
    display: inline-block;
    margin: 0;
  }

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

label,
.label {
  display: inline-block;
  vertical-align: middle;
  @include font-size(18, $baseline);
  margin-bottom: em($unit, 18);
  font-weight: bold;
}

.form {
  margin-bottom: em($baseline);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__list {
  @include clearfix;
  margin: 0;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item {
  font-size: inherit;
  line-height: 0;
  margin-bottom: em($baseline);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__item--nothing {
  @include visually-hidden;
}

.form--single {

  .form__list {
    display: table;
    width: 100%;
  }

  .form__item {
    display: table-cell;
    margin: 0;
    width: 100%;
    vertical-align: top;

    &:last-child {
      width: auto;
    }
  }

  .field {
    max-width: none;
  }

  label {
    @include visually-hidden;
  }

  .button {
    float: right;
    margin-left: em($gutter/2, 18);

    height: em(42, 18);
    line-height: em(24, 18);
  }
}
