
.media {
    @include clearfix;
}

.media__image {
    float: left;
    margin-right: em($gutter);
}

.media__body {
    overflow: hidden;
}

.media--rtl {
    .media__image {
        float: right;
        margin-left: em($gutter);
        margin-right: 0;
    }
}

.newsletter {
    margin: em($baseline * 2) 0 em($baseline) 0;
}

.newsletter__form {
    margin-bottom: 0;
    max-width: em(580);

    .form__item {
        padding-bottom: em($unit * 2);
    }

    @include respond-max($breakpoint--mobile - 1)
    {
        .form__list {
            display: block;
        }

        .form__item {
            display: block;
        }

        .button {
            margin: 0;
            float: none;
        }
    }
}

.newsletter__format {
    label {
        margin-right: em($unit, 14);
    }
}

.pagination {
    @include clearfix;
}

.pagination__older {
    float: left;
}

.pagination__newer {
    float: right;
}
