 @include critical {

  .headroom {
      transition: transform 200ms linear;
  }

  .headroom--pinned {
      transform: translateY(0%);
  }

  .headroom--unpinned {
      transform: translateY(-100%);
  }

  .nav {
    z-index: $z-index--nav;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $pink;

    @include respond-min($breakpoint--aside)
    {
        padding-right: percentage($footer--width/100);
    }

    @include respond-min(($footer--max-width / ($footer--width/100)))
    {
        padding-right: em($footer--max-width);
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: $dark-red;
    }

    &::-webkit-scrollbar-thumb {
        border-top: 3px solid $dark-red;
        background: $pink;

        &:hover {
            background: $pink;
        }
    }
  }

  .nav__title {
    @include visually-hidden;
  }

  .nav__list {
    list-style: none;
    padding: 0 em($unit);
    margin: 0 auto;
    width: auto;
    background: $pink;

    .nav > & {
      @include clearfix;
      // max-width: em(960);
      height: em(49);
    }

    .nav--flex > & {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;


      &:after, &:before {
        display: none;
      }
    }
  }

  .nav__item {
    display: block;
    float: left;
    font-size: inherit;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    flex-grow: 1;
  }

  .nav__link {
    @include no-tap-highlight;
    position: relative;
    display: block;
    color: $white;
    text-shadow: none;
    background: none;
    font-weight: bold;
    font-size: em(15);
    line-height: em(35 + ($unit * 2), 15);
    padding: 0 em($unit * 2, 15);
    text-transform: uppercase;
    text-align: center;
    outline: 0;
    border: 0;


    &:focus, &:hover {
      outline: none;
      color: $yellow;
    }

    svg {
      display: inline-block;
      vertical-align: em(-9, 15);
      width: em(28, 15);
      height: em(28, 15);
      fill: currentColor;
      overflow: visible;
    }

    svg + span {
      @include visually-hidden;
    }

    .nav__item--icons & {
      display: inline-block;
      vertical-align: top;
    }
  }

  @include respond-max($breakpoint--mobile - 1)
  {
    .nav__link {
      padding-left: em($unit, 15);
      padding-right: em($unit, 15);
    }
  }

  .nav__dropdown {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    margin: em($unit);
    background: $white;
    border-radius: 5px;
    border: 2px solid $pink;
    box-shadow: 0 0 0 3px rgba($black, 0.2);

    .css3d & {
      display: block;
      opacity: 0;
      transform: scale(0.6);
      transform-origin: 100% 0;
      transition: transform 300ms cubic-bezier(.65,.25,.35,1.6), opacity 300ms cubic-bezier(.65,.25,.35,1.6);
      pointer-events: none;
    }

    &:after,
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 0;
      height: 0;
      bottom: 100%;
      right: 10px;
      border: 10px solid transparent;
      border-bottom-color: $pink;
    }

    &:after {
      border-width: 7px;
      border-bottom-color: $white;
      margin-right: 3px;
    }

    .nav__item {
      float: none;
      padding-left: 0;
      margin: 0 em(-$unit);
      border-bottom: 2px solid $canvas;

      &:last-child {
        border-bottom: 0;
      }
    }

    .nav__link {
      text-align: left;
      color: $pink;

      &:focus, &:hover {
        color: $blue;
      }
    }

    .nav__item:not(.nav__item--icons) {

      .nav__link {
        padding: 0 em($unit * 3, 14);
      }
    }

    .nav__item--icons {
      padding-left: em($unit * 2);
      padding-right: em($unit * 2);
    }
  }

  .nav__dropdown--hover,
  .nav__dropdown--active,
  .css3d .nav__dropdown--hover,
  .css3d .nav__dropdown--active {
    opacity: 1;
    display: block;
    transform: none;
    pointer-events: all;
  }

  .nav__item--icons {
    padding-left: em($gutter, 15);
    text-align: right;

    .nav__link {
        padding: 0 em($unit, 15);
    }
  }

  .nav__link--twitter {
    svg {
      width: em(34, 15);
    }
  }

  .nav__item--more {
    position: relative;
    display: none;
    left: em($unit);

    &:hover:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 150%;
      height: 150%;
    }

    & > .nav__link {
      padding: 0 em($unit * 2, 15);
    }

    .nav--flex & {
      flex-grow: 0;
    }
  }

  @include respond-min($breakpoint--mobile)
  {
    .nav > .nav__list {
      padding-left: 0;
    }

    .nav__item {
      border-right: 2px solid rgba($dark-red, 0.5);
    }

    .nav__item--more {
      border-right: 0;
    }

    .nav__item--icons {
      border-right: 0;
      flex-grow: 5;
    }
  }

  .no-js {

    .nav {
      overflow-x: auto;
      overflow-y: hidden;
      overflow-scrolling: auto;
      -webkit-overflow-scrolling: touch;
      min-height: min-content;
    }

    .nav__list {
      min-width: min-content;
    }
  }

} // critical
