 @include critical {

  .headroom {
      transition: transform 200ms linear;
  }

  .headroom--pinned {
      transform: translateY(0%);
  }

  .headroom--unpinned {
      transform: translateY(-100%);
  }

  .nav {
    z-index: $z-index--nav;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $pink;

    // overflow: hidden;
    transition: transform 200ms linear, box-shadow 100ms ease;
    box-shadow: inset 0 0 0 rgba($dark-red, 1);

    @include respond-min($breakpoint--aside)
    {
     padding-right: em($footer--width);
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: $dark-red;
    }

    &::-webkit-scrollbar-thumb {
        border-top: 3px solid $dark-red;
        background: $pink;

        &:hover {
            background: $pink;
        }
    }
  }

  .nav__title {
    @include visually-hidden;
  }

  .nav__list {
    list-style: none;
    padding: 0 em($unit * 2);
    margin: 0 auto;
    width: auto;
    background: $pink;
  }

  .nav > .nav__list {
    @include clearfix;

    max-width: em(960);
    height: em(49);
  }

  .nav--flex > .nav__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    // justify-content: space-between;

    &:after, &:before {
      display: none;
    }
  }

  .nav__item .nav__list {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .nav__item {
    display: block;
    float: left;
    font-size: inherit;
    line-height: 1;
    margin: 0;
    white-space: nowrap;

    .nav__item {
      float: none;
      padding-left: 0;
      margin: 0 em(-$unit * 2);
      border-top: 1px solid $dark-red;
    }

    .nav__item:not(.nav__item--icons) {

      .nav__link {
        padding: 0 em($unit * 4, 14);
      }
    }

    .nav__item--icons {
      padding-left: em($unit * 3);
      padding-right: em($unit * 3);
    }
  }

  .nav__link {
    position: relative;
    display: block;
    color: $white;
    text-shadow: none;
    background: none;
    font-weight: bold;
    font-size: em(15);
    line-height: em(35 + ($unit * 2), 15);
    text-transform: uppercase;
    padding: 0 em($unit * 2, 15);

    &:focus, &:hover {
      outline: none;
      color: $yellow;
    }

    svg {
      display: inline-block;
      vertical-align: em(-8, 15);
      width: em(28, 15);
      height: em(28, 15);
      fill: currentColor;
    }

    svg + span {
      @include visually-hidden;
    }

    .nav__item--icons & {
      display: inline-block;
      vertical-align: top;
    }
  }

  .nav__item .nav__list .nav__link {

  }

  .nav > .nav__list > .nav__item {

    & > .nav__link {
      text-align: center;
    }
  }

  .nav__item--icons {
    padding-left: em($gutter, 15);

    .nav--flex & {
      flex-grow: 0 !important;
    }

    .nav__link {
        padding: 0 em($unit, 15);
    }
  }

  .nav__link--twitter {
    svg {
      width: em(34, 15);
    }
  }

  .nav__item--more {
    display: none;
    width: em($unit * 4);

    & > .nav__link {
      position: absolute;
      top: 0;
      right: em($unit);//em($unit * 2);
    }

    .nav--flex & {
      flex-grow: 0;
    }

    & > .nav__link {
      padding: 0 em($unit, 15);
    }
  }

  .no-js {

    .nav {
      overflow-x: auto;
      overflow-y: hidden;
      overflow-scrolling: auto;
      -webkit-overflow-scrolling: touch;
      min-height: min-content;
    }

    .nav__list {
      min-width: min-content;
    }
  }

  @include respond-min($breakpoint--desktop)
  {

    .nav__item {

      .nav--flex & {
        flex-grow: 1;
      }
    }
  }

} // critical
