
@include critical {

    .post {
        position: relative;
        overflow: hidden;
    }

    .post__body {
        margin-top: em($baseline);
    }

    .post__date {
        margin-bottom: 0;
    }

    .post__title {
        margin-bottom: em($unit * 5, $h1);

        & + .post__date {
            margin-top: em(-$unit * 2, $p);
        }

        & + .p--large {
            margin-top: em(-$unit, $p--large);
        }

        @include respond-max($breakpoint--mobile - 1)
        {
            & > .nbsp:after {
                display: inline-block;
                content: '\a';
                speak: none;
                // white-space: pre;
            }
        }
    }

    .post--excerpt {

        .post__title {
            margin-bottom: em($unit * 2, $h3);

            & + .post__date {
                margin-top: em(-$unit, $p);
            }
        }

        .post__body {
            margin-top: em($unit);
        }
    }

} // critical

@include non-critical {

    .post__image {
        overflow: hidden;
        margin: em($baseline) 0;
        margin-left: -#{inner-percent(7)};
        margin-right: -#{inner-percent(7)};
        padding: em($baseline) inner-percent(7);
        background: $canvas;

        img {
            width: auto;
        }

        a {
            text-shadow: none !important;
            background: none !important;
        }
    }

    .post__image--centred {
        img {
            margin: 0 auto;
        }
    }

    @include respond-max($breakpoint--mobile - 1)
    {
        .post__body {
            & > pre {
                margin-left: -#{inner-percent(7)};
                margin-right: -#{inner-percent(7)};
            }
        }
    }

    @include respond-min($breakpoint--mobile)
    {
        .post__image {
            margin-right: 0;
            padding-right: em($gutter);
        }
    }

} // non-critical
