
/**
 * normalize: Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    width: 100%;

    tr { border-bottom: 1px solid $colour__hairline; }

    tbody {
        tr:last-child { border-bottom: 0; }
    }

    th {
        text-align: left;
        font-weight: bold;
    }

    th, td {
        @include font-size(16, $unit*3);
        padding: em($unit);
    }

    table {
        font-size: inherit;
        line-height: inherit;
    }
}

.table--striped {
    tbody {
        tr:nth-child(odd) {
            background: $canvas;
        }
    }
}

.table--bordered {
    tr { border: none; }
    th, td { border: 1px solid $colour__hairline; }
}

.table--condensed {
    th, td {
        padding: em($unit/2) em($unit);
    }
}

.speclist {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: em(320);
    list-style: circle;
    margin-bottom: em($unit--baseline/2);

    p + & {
        margin-top: em($unit--baseline/2);
    }

    li {
        @include font-size($p--small, $unit * 3);
        padding-left: em($unit--gutter/2, $p--small);
        margin-bottom: 0;
        flex-basis: 50%;
        box-sizing: border-box;
        list-style-position: inside;
    }

    @include respond-min($breakpoint--mobile)
    {
        max-width: em(640);

        li {
            flex-basis: 25%;
        }
    }
}
