
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: $black;
  font-family: $fonts--serif;
  font-weight: 300;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;

  background-image: linear-gradient(to right, rgba($blue, 0.5) 0%, rgba($blue, 0.5) 100%);
  background-repeat: repeat-x;
  background-size: 100% 1px;
  background-position: 0 90%;

  &:not([class]):focus,
  &:not([class]):hover {
    outline: 0;
    text-shadow: none;
    background-image: linear-gradient(to right, rgba($yellow, 1) 0%, rgba($yellow, 1) 100%);
    background-size: 100% 7px;
    background-position: 0 90%;
  }

  p > & {
    text-shadow: 2px 0 0 $beige, -2px 0 0 $beige;
  }

  .footer & {
    text-shadow: 2px 0 0 $white, -2px 0 0 $white;
  }
}

hr, .hr {
  display: block;
  clear: both;
  height: 0;
  margin: em($unit--baseline - 2) 0 em($unit--baseline - 1) 0;
  border: 0;
  outline: none;
  border-top: 2px solid $green;
  border-bottom: 1px solid $yellow;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-weight: 500;
  color: $blue;
  text-shadow: -1px 0 0 rgba($beige, 1),
               1px 1px 0 rgba($beige, 1),
               2px 3px 0 rgba($green, 0.8);

  .footer & {
    text-shadow: -1px 0 0 rgba($white, 1),
                 1px 1px 0 rgba($white, 1),
                 2px 3px 0 rgba($green, 0.8);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  @include font-size($h1);
  margin-bottom: em($unit * 2, $h1);

  p + & {
    margin-top: em($unit * 5, $h1);
  }
}

h2, .h2 {
  @include font-size($h2);
  margin-bottom: em($unit * 2, $h2);

  p + & {
    margin-top: em($unit * 5, $h2);
  }
}

h3, .h3 {
  @include font-size($h3);
  margin-bottom: em($unit * 2, $h3);

  p + & {
    margin-top: em($unit * 5, $h3);
  }
}

h4, .h4 {
  @include font-size($h4);
  margin-bottom: em($unit * 2, $h4);

  p + & {
    margin-top: em($unit * 5, $h4);
  }
}

p, .p {
  @include font-size($p, $unit * 4);
  margin-top: 0;
  margin-bottom: em($unit * 2, $p);

  &:last-child {
    margin-bottom: 0;
  }
}

small,
.p--small {
  @include font-size($p--small, $unit * 4);
  color: $grey;
}

.p--small {
  margin-bottom: em($unit * 2, $p--small);

  small {
    display: inline-block;
    font-size: inherit;
    line-height: 1;
  }
}

ul, ol {
  padding: 0;
  margin: 0 0 em($unit--baseline) em($unit--gutter);
  list-style: disc outside;

  p + & {
    margin-top: em($unit--baseline);
  }
}

li {
  @include font-size($p, $unit * 4);
  margin-bottom: em($unit, $p);

  p, ul, ol, li {
    font-size: inherit;
    line-height: inherit;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol {
  list-style: decimal outside;
}

time {
  display: block;
  text-transform: uppercase;
  color: $grey;

  abbr[title] {
    border: none;
    background-image: none;
  }

  p &,
  li & {
    font-size: em($p--small, $p);
  }
}
