/*
// Home
*/
@import "origin";

.home {

  .block {
    max-width: em($block--home);
  }

  & > .block {
    position: relative;
    z-index: $z-index--home;
  }
}

/*
// Home - Hero
*/

.home-hero {
  z-index: $z-index--hero;
  position: relative;
  padding-top: em($unit * 7);
  padding-bottom: 0;
  background: $green;
  overflow: hidden;

  .block {
    position: relative;
    margin-top: 5%;
  }
}

.home-hero__logo {
  position: relative;
  z-index: $z-index--hero + 10;
  display: block;
  // margin-top: 5%;
  margin-bottom: -2%;
  width: 55%;
  left: -5%;

  .js & {
    opacity: 0;
    transform: translateY(20%) scale(0.1) rotateZ(-15deg);
    transition: opacity 300ms ease-in,
                transform 600ms cubic-bezier(.01,1.4,.6,1.2);
  }

  .no-csstransforms &,
  .js-anim & {
    opacity: 1;
    transform: translateZ(0);
  }

  h1 {
    @include visually-hidden;
  }

  img {
    width: 100%;
  }
}

.home-hero__bg {
  z-index: $z-index--hero + 2;
  position: relative;

  div {
    width: 100%;
    padding-top: em(15);
    padding-bottom: percentage(600/3000);
    // padding-bottom: calc(#{percentage(600/3000)} + #{em(15)});
  }

  svg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;

    path {
      transform: scale(1);
    }
  }

  .st0 { fill: #f2f0e6; }
  .st1 { stroke: #fffbcc; }
  .st2{ stroke: #abe9d5; }

  .st1, .st2 {
    fill: none;
    stroke-width: 7;
    stroke-miterlimit: 10;
  }
}

.home-hero__crane {
  position: absolute;
  right: 3.5%;
  top: 0;
  width: 40%;
  max-width: em(500);

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    padding-bottom: percentage(520/500);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  &:before {
    z-index: $z-index--hero + 1;
    background-image: url("/assets/img/origami-crane-bg.svg");
    margin-top: -3.2%;
    margin-left: -0.8%;
  }

  &:after {
      z-index: $z-index--hero + 20;
      background-image: url("/assets/img/origami-crane--small.png");

      @include respond-min($breakpoint--mobile)
      {
          background-image: url("/assets/img/origami-crane.png");
      }
  }
}

.home-hero__burst {
  z-index: $z-index--hero - 1;
  position: absolute;
  top: -100%;
  left: 50%;
  height: 0;
  width: 100%;

  &:after {
    position: absolute;
    display: block;
    content: "";
    top: 0%;
    left: -25%;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    animation: animateSpin 50s linear infinite;
    background: url("/assets/img/starburst.svg") center center no-repeat;
    background-size: 100% auto;
    opacity: 0.1;
  }
}

@keyframes animateSpin {
  100% {
    transform: rotate(360deg);
  }
}

.home-star {
  z-index: $z-index--hero + 30;
  display: none;
  position: absolute;
  fill: $yellow;
  opacity: 0.5;
  transform: scale(0.5);
}

@keyframes animateStar {
    0% {   opacity: 0.5; transform: scale(0.5); }
    50% {  opacity: 1.0; transform: scale(1.0); }
    100% { opacity: 0.5; transform: scale(0.5); }
}

.home-star {
  width: percentage(100/$block--home);
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: animateStar 3s cubic-bezier(0,0.6,0.4,1) infinite;
}

.home-star:nth-of-type(1),
.home-star:nth-of-type(3) {
  width: percentage(75/$block--home);
  height: 110px;
  margin-left: -37.5px;
  margin-top: -55px;
}

.home-star:nth-of-type(1) {
  left: 52%;
  top: 118%;
}

.home-star:nth-of-type(2) {
  top: 36%;
  left: 78%;
  animation-delay: 1s;
}

.home-star:nth-of-type(3) {
  top: 160%;
  left: 92%;
  animation-delay: 2s;
}

@include respond-min($breakpoint--home)
{
  .home-star {

    .csstransforms & {
      display: block;
    }
  }
}

@include respond-max($breakpoint--home - 1)
{
  .home-hero {

    .block {
      margin-top: 5%;
    }
  }

  .home-hero__logo {
    // margin-top: 5%;
  }
}

@include respond-max($breakpoint--mobile - 1)
{

  .home-hero {

    .block {
      margin-top: 6%;
    }
  }

  .home-hero__logo {
    // margin-top: 6%;
    width: 65%;
  }

  .home-hero__crane {
    width: 40%;
    right: 2%;
    top: 14%;
  }

  .home-hero__bg {
    svg path {
      transform: scale(0.5);
    }
  }
}

/*
// Home - Services
*/

.home-services {
  position: relative;
  margin-bottom: em($baseline * 1.5);
}

.home-services__item {
  margin-bottom: em($baseline);
}

@include respond-min($breakpoint--home)
{
  .home-hero + .block {
    margin-top: -12%;
  }

  .home-services {
    display: flex;
    flex-wrap: nowrap;
    margin-left: em(-$baseline/2);
    margin-right: em(-$baseline/2);
    height: em(300);
    margin-bottom: 0;

    hr {
      display: none;
    }

    .button {
      margin-top: em($baseline/2, 18);
    }
  }

  .home-services__item {
    // flex-basis: 33.333%;
    width: 33.333%;
    padding: 0 em($baseline/2);
    margin: 0;

    &:nth-of-type(2) {
      align-self: center;
    }

    &:nth-of-type(3) {
      align-self: flex-end;
    }
  }

  .no-flexbox {

    .home-services {
      overflow: hidden;
    }

    .home-services__item {
      float: left;

      &:nth-of-type(2) {
        margin-top: em($baseline * 3);
      }

      &:nth-of-type(3) {
        margin-top: em($baseline * 6);
      }
    }
  }

}

/*
// Home - Sectors
*/

.home-sectors {
  z-index: $z-index--home + 1;
  position: relative;
  margin-bottom: em($baseline * 2);

  &:before {
    z-index: -1;
    content: "";
    position: absolute;
    display: block;
    opacity: 0.5;
    top: em(49);
    left: em(35);
    right: em(35);
    bottom: em(49);
    background: $canvas;
  }
}

.js-ie .home-sectors:before {
  display: none;
}

.home-sectors__item {
  position: relative;
  padding: em($unit * 5);
  color: $white;
  overflow: hidden;
  margin-bottom: em($baseline);
  box-shadow: 0 em($unit * 4) 0 em(-$unit * 2) rgba($black, 0.1);

  h2 {
    color: inherit;
    text-shadow: none;
  }

  .p--large {
    margin-bottom: em($baseline/2, $p--large);
  }

  .button {
    text-shadow: none;
    background-color: $white;
    border: 0;
  }
}

.home-sectors__star {
  position: absolute;
  right: em($unit);
  bottom: em($unit * 2);
  width: em(100);
  height: em(100);
}

.home-businesses {
  background-color: $blue;

  .home-sectors__star {
    fill: $green;
  }

  h2 {
    text-shadow: 3px 3px 0 rgba($dark-blue, 0.6);
  }

  .p--large {
    color: $green;
  }

  .button {
    color: $blue;
    box-shadow: 0 0 0 2px $blue,
                2px 2px 0 2px $green,

                 4px  4px 0 4px #2b8bae,
                 8px  8px 0 4px #2b8bae,
                12px 12px 0 4px #2b8bae,
                16px 16px 0 4px #2b8bae,
                20px 20px 0 4px #2b8bae,
                24px 24px 0 4px #2b8bae,
                28px 28px 0 4px #2b8bae,
                32px 32px 0 4px #2b8bae,
                36px 36px 0 4px #2b8bae,
                40px 40px 0 4px #2b8bae,
                44px 44px 0 4px #2b8bae,
                48px 48px 0 4px #2b8bae,
                52px 52px 0 4px #2b8bae,
                56px 56px 0 4px #2b8bae,
                60px 60px 0 4px #2b8bae,
                64px 64px 0 4px #2b8bae,
                68px 68px 0 4px #2b8bae,
                72px 72px 0 4px #2b8bae,
                76px 76px 0 4px #2b8bae,
                80px 80px 0 4px #2b8bae,;

      &:focus, &:hover {
        box-shadow: 0 0 0 2px $blue,
                    0 0 0 4px $green;
      }
  }
}

.home-agencies {
  background-color: $pink;

  .home-sectors__star {
    fill: $yellow;
  }

  h2 {
    text-shadow: 3px 3px 0 rgba($dark-red, 0.5);
  }

  .p--large {
    color: $yellow;
  }

  .button {
    color: $pink;
    box-shadow: 0 0 0 2px $pink,
                2px 2px 0 2px $yellow,

                 4px  4px 0 4px #eb6983,
                 8px  8px 0 4px #eb6983,
                12px 12px 0 4px #eb6983,
                16px 16px 0 4px #eb6983,
                20px 20px 0 4px #eb6983,
                24px 24px 0 4px #eb6983,
                28px 28px 0 4px #eb6983,
                32px 32px 0 4px #eb6983,
                36px 36px 0 4px #eb6983,
                40px 40px 0 4px #eb6983,
                44px 44px 0 4px #eb6983,
                48px 48px 0 4px #eb6983,
                52px 52px 0 4px #eb6983,
                56px 56px 0 4px #eb6983,
                60px 60px 0 4px #eb6983,
                64px 64px 0 4px #eb6983,
                68px 68px 0 4px #eb6983,
                72px 72px 0 4px #eb6983,
                76px 76px 0 4px #eb6983,
                80px 80px 0 4px #eb6983,;

    &:focus, &:hover {
      box-shadow: 0 0 0 2px $pink,
                  0 0 0 4px $yellow;
    }
  }
}



@include respond-max($breakpoint--mobile - 1)
{
  .home-sectors {
    margin-left: -#{inner-percent(7)};
    margin-right: -#{inner-percent(7)};
  }

  .home-sectors__item {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@include respond-min($breakpoint--home)
{

  .home-sectors {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: em(385);

    &:before {
      left: 0;
      right: 0;
    }
  }

  .home-sectors__item {
    // flex-basis: 45%;
    width: 47%;
    height: em(350);
    max-width: em(450);
    margin: 0;
    display: flex;
    flex-direction: column;

    p:not([class]) {
      flex-grow: 1;
      max-width: em(300, $p);
    }
  }

  .home-businesses {
    align-items: flex-end;
    text-align: right;

    .home-sectors__star {
      left: em($unit);
      top: em($unit * 3);
      right: auto;
      bottom: auto;
    }
  }

  .home-agencies {
    align-items: flex-start;
  }

  .home-businesses {
    align-self: flex-start;
    background-color: $blue;
    box-shadow: em($unit * 4) 0 0 em(-$unit * 2) rgba($black, 0.1);
  }

  .home-agencies {
    align-self: flex-end;
    background-color: $pink;
    box-shadow: em(-$unit * 4) 0 0 em(-$unit * 2) rgba($black, 0.1);
    margin-top: em($baseline * 2);
  }
}

.no-flexbox {


  .home-businesses {
    float: left;
  }

  .home-agencies {
    float: right;
  }
}

.home-folio {
  margin: em($baseline * 2) 0;
  text-align: center;

  // .folio__link {
  //   background-image:  url("../img/portfolio.svg");
  //   background-position: center center;
  //   background-repeat: no-repeat;
  //   background-size: 100% auto;

  //   &:hover {
  //     background-color: rgba($canvas, 0);
  //     background-size: 150% auto;
  //   }
  // }

  .folio__list {
    margin-top: em($baseline);
  }

  @include respond-max($breakpoint--home - 1)
  {
    .folio__item:nth-child(1n + 3) {
      display: none;
    }
  }
}

.home-clients {
  border-top: 5px solid $pink;
  box-shadow: inset 0 3px 0 0 rgba($yellow, 1);
  padding: em($unit + ($baseline * 1.5)) 0 em($baseline *2) 0;

  // @include respond-min($breakpoint--mini)
  // {
    text-align: center;
  // }
}

.home-clients__quote {
  display: inline-block;
  border: 0;

  & + &:before {
    display: inline-block;
    vertical-align: top;
    content: "";
    height: 2px;
    width: 10%;
    margin-top: em(-$baseline/2);
    background: $yellow;
    box-shadow: 0 4px 0 -2px rgba($dark-red, 0.5);
  }

  &:last-of-type {
    margin-bottom: em($baseline * 2);
  }

  .p--large {
    max-width: em(680, $p--large);
  }
}
