
@include critical {

    .folio__link {
        display: block;
        text-shadow: none;
        background-image: none;
        background-color: $green;
    }

    .folio {
        margin: em($baseline/2) 0;
        &:last-child { margin-bottom: 0; }
    }
}

@include non-critical {

    .folio {
        z-index: $z-index--home;
        position: relative;
    }

    .folio__list {
        @include clearfix;
        list-style: none;
        margin: 0 em(-$unit*2);
        padding: 0;
    }

    .folio__item {
        z-index: $z-index--home + 10;
        position: relative;
        display: block;
        float: left;
        margin: em($unit*2);
        width: 30%;
        width: calc(33.33333% - #{em($unit * 4)});
        font-size: inherit;
        line-height: inherit;
        box-sizing: border-box;
        border-radius: em(7);
        perspective: 500px;
    }

    .folio__link {
        z-index: $z-index--home + 11;
        @include no-tap-highlight;
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        border-radius: em(6);
        padding-bottom: percentage(220 / 330);
        transition: background 200ms ease;
        background: $green;
        box-shadow: 0 0 0 1px $green,
                    inset 0 0 0 1px $green,
                    inset 0 0 0 3px rgba($yellow, 0.8);

        &:hover {
            background-color: rgba($canvas, 0);

            .folio__image {
                opacity: 0.1;
                filter: #{"grayscale(1)"};
                transform-origin: 50% 50%;
                transform: scaleX(0.9) scaleY(0.9);
            }

            .folio__label {
                opacity: 1;
            }
        }
    }

    .folio__label {
        z-index: $z-index--home + 12;
        position: absolute;
        display: block;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 em($unit * 2, $h4);
        @include font-size($h4, $unit * 4);
        color: $white;
        text-align: center;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 200ms ease;
        text-shadow: 2px 2px 0 rgba($black, 0.2);
    }

    .folio__image {
        z-index: $z-index--home + 11;
        position: absolute;
        top: 0;
        left: 0;
        top: calc(0% + #{em($unit)});
        left: calc(0% + #{em($unit * 1.5)});
        opacity: 1;
        width: 100%;
        border-radius: em(7);
        width: calc(100% - #{em($unit * 3)});
        transform-style: preserve-3d;
        transform: rotateY(30deg) rotateX(2deg) translateX(7%);
        transition: opacity 200ms ease, filter 200ms ease, transform 200ms ease;
        backface-visibility: hidden;
    }

    @include respond-max($breakpoint--home - 1)
    {
        .folio__item {
            margin: em($unit);
            width: 48%;
            width: calc(50% - #{em($unit * 2)});
        }

        .folio__list {
            margin: 0 em(-$unit);
        }
    }
}
