
@include critical {

    .button, .label, .field, button, label, input, select {
        font-family: $fonts--sans;
        // https://github.com/twbs/bootstrap/issues/8702#issuecomment-21692968
        background-image: none !important;
        text-shadow: none !important;
    }

    .button {
        @include no-appearance;
        position: relative;
        display: inline-block;
        *display: inline;
        box-sizing: border-box;
        @include font-size(16, $unit--field - (($unit * 2) + 4));
        padding: em($unit) em($unit * 3);
        height: em($unit--field);
        outline: none;
        border: none;
        color: $blue;
        font-weight: bold;
        vertical-align: middle;
        border-radius: em(5);
        border: em(2) solid $blue;
        background-color: transparent;

        &:focus,
        &:hover {
            color: $blue;
            border-color: $blue;
            border-width: em(2);
        }
    }

    .button--link {
        text-decoration: underline;
        background: transparent;
        border-color: transparent !important;
    }

    @include respond-min($breakpoint--mobile)
    {
        .button--large {
            @include font-size(18, $unit--field - 4);
            border-width: em(2, 18) !important;
            border-radius: em(8, 18);
            padding: em($unit, 18) em($unit * 4, 18);
            height: em($unit--field + ($unit * 2), 18);
        }
    }

    .button--small {
        @include font-size(14, $unit--field - ($unit + 4));
        border-width: em(2, 14) !important;
        border-radius: em(5, 14);
        padding: 0 em($unit * 1.5, 14);
        height: em($unit--field - ($unit), 14);
    }

    .button--primary {
        color: $white !important;
        border-radius: em($unit--field, 14);
        background: $blue;

        &:focus, &:hover {
            border-color: $blue;
            background-color: $blue;
        }
    }

} // critical

@include non-critical {

    .button {
        transition: border-color 100ms ease, background-color 100ms ease, transform 100ms ease;

        &:active {
            transform: scaleX(0.95) scaleY(0.95);
            transform-origin: center bottom;
        }
    }

    .label {
        display: inline-block;
        vertical-align: middle;
        @include font-size(14, $baseline);
        font-family: $fonts--sans;
        font-weight: bold;
    }

    .label--checkbox {
        display: inline-block;
        vertical-align: middle;
        font-size: em(14) !important;
        line-height: em($baseline, 14) !important;
        font-weight: normal !important;
        color: $grey;

        input[type="radio"],
        input[type="checkbox"] {
            float: left;
            font-size: inherit !important;
            margin: 0.5em 0.5em 0 0;
        }

        input[type="radio"]:checked + span,
        input[type="checkbox"]:checked + span {
            color: $black;
        }

        input[checked="checked"] + span {
            color: $black;
        }
    }

    .field {
        @include no-appearance;
        display: block;
        clear: both;
        box-sizing: border-box;
        @include font-size(16, $unit--field - (($unit * 2) + 4));
        width: 100%;
        max-width: em(400);
        height: em($unit--field);
        padding: em($unit) em($unit * 2);
        outline: none;
        color: $grey;
        border: em(2) solid $colour__hairline;
        background: $white;
        font-family: $fonts--sans;

        &:focus {
            color: $black;
            border-color: $blue;
            background-color: $yellow;
        }

        .lt-ie8 & {
            padding: 0;
            line-height: em($baseline + $unit);
            text-indent: em($unit);
        }

        &[type="search"] {
            box-sizing: border-box !important;
        }

        input[type="file"] {
            width: 100%;
        }
    }

    textarea.field {
        height: auto;
        max-width: none;
        min-height: em(($baseline*3) + $unit);
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: 0;
        outline: none;

        legend {
            @include font-size(24, $unit*5);
            margin-bottom: em($unit*2);
            width: 100%;
            padding: 0;
            color: $grey;
            font-weight: normal;
            border-bottom: 1px solid $colour__hairline;
        }
    }

    .form__list {
        @include clearfix;
        margin: 0;
        list-style: none;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .form__item,
    .field-wrap {
        font-size: inherit;
        line-height: 0;
        margin-bottom: em($baseline);

        &:last-child { margin-bottom: 0; }
    }

    .form__item--nothing {
        @include visually-hidden;
    }

    .form,
    .ninja-forms-form {
        margin-bottom: em($baseline);

        &:last-child {
            margin-bottom: 0;
        }

        label {
            @extend .label;
        }
    }

    .form--inline {
        margin-bottom: em($baseline/2);

        .form__item {
            display: inline-block;
            vertical-align: bottom;
            margin-right: em($gutter/2);
            margin-bottom: em($baseline/2);
        }
    }

    .form--aligned {

        .form__item {
            position: relative;
            padding-left: em(140 + $gutter);

            & > label:not([class*="label--"]) {
                position: absolute;
                top: em($unit, 14);
                left: 0;
                text-align: right;
                width: em(140, 14);
            }
        }
    }

    .form--single {

        .form__list {
            display: table;
            width: 100%;
        }

        .form__item {
            display: table-cell;
            margin: 0;
            width: 100%;
            height: em($unit--field);
            vertical-align: top;

            &:last-child {
                width: auto;
            }
        }

        .field {
            max-width: none;
        }

        label {
            @include visually-hidden;
        }

        .button {
            float: right;
            margin-left: em($gutter/2);
        }
    }

    // .ninja-forms-form {
    //     @extend .form;
    // }

    .ninja-forms-no-display {
        @include visually-hidden;
    }

    // .field-wrap {
    //     @extend .form__item;
    // }

    .ninja-forms-required-items {
        @include visually-hidden;
    }

    .honeypot-wrap {
        @include visually-hidden;
    }

    .ninja-forms-error-msg {
        & > div {
            color: $red;
            @include font-size($p);
            margin-bottom: em($baseline/2, $p);
            font-weight: bold;
        }
    }

    .ninja-forms-field-error {
        p {
            color: $red;
            font-family: $fonts--sans;
            @include font-size($p--small, $baseline);
            margin-bottom: 0;
        }
    }

    .ninja-forms-form-wrap {
        @include clearfix;
    }

    .text-wrap,
    .textarea-wrap {
        position: relative;
        background-color: #fff;
        border: 1px solid #d7d6d2;
        padding: 1px;
        max-width: 25em;
        transition: border 150ms ease;
        background-image: linear-gradient(to bottom, rgba(#d7d6d2, 0.5), rgba(#d7d6d2 , 1));
        margin-top: 1.75em;
        margin-bottom: 1.75em;

        & + .text-wrap {
            margin-top: 2.625em;
        }

        &:before {
            pointer-events: none;
            position: absolute;
            display: block;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &:before {
            opacity: 0;
            outline: 1px solid rgba(#3d9ccc, 1);
            background-image: linear-gradient(to bottom, rgba(#3d9ccc, 0.2), rgba(#3d9ccc , 0.6));
            transition: opacity 150ms ease, transform 300ms ease, box-shadow 300ms ease;
            transform-origin: 50% 50%;
            transform: scaleX(0);
        }

        input,
        textarea {
            z-index: $z-index--main + 1;
            display: block;
            position: relative;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            max-width: none;
            height: auto;
            outline: 0;
            border: 0;
            font-size: 1em;
            line-height: 1.5em;
            padding: 0.4375em 0.875em;

            &:focus {
                border: 0;
            }
        }

        label {
            position: absolute;
            font-weight: bold;
            font-size: 1em;
            line-height: 1.75em;
            top: -1.75em;
            opacity: 0.8;
            transform: scale(0.875);
            transform-origin: 0 100%;
            transition: opacity 150ms ease, transform 150ms ease;
        }

        &.js--focus {

            label {
                opacity: 1;
                transform: scale(1);
            }

            &:before {
                opacity: 0.8;
                transform: scaleX(1);
                box-shadow: inset 0 0 2px rgba(#3d9ccc, 0.3), 0 0 5px rgba(#3d9ccc, 1);
            }
        }

    }

    .textarea-wrap {
        max-width: none;
        margin-top: 2.625em;
    }

} // non-critical
